:root {
    --main-color: #2196f3;
    --secondary-color: #000000;
    --headertext-color: #212121;
    --text-color: #757575;
    --light-color: #ffffff;
    --background-color: #2F303A;
    --onetime-color: #f5f4fa;
    --buttomhover-color: #188CE8;
    --iconfill-normal: #AFB1B8;
}

